<template>
    <div class="usuarios">
        <div class="usuarios--titulos">
            Usuarios <br>
        </div>
        <usuario v-for="user in usuarios" :key="user['USER_ID']"
                 :nombre="user['nombre']"
                 :rol="user['ROL']"
                 :googleId="user['GOOGLE_ID']"
                 :userId="user['USER_ID']"
        />
    </div>
</template>

<script>
    // const conexion  = require('../../variables').conexion;
    import conexion from '../../variables';

    export default {
        name: "Usuarios",
        components: {
            'usuario': () => import('./Usuarios/Usuario')
        },
        data: function () {
            return {
                usuarios: []
            }
        },
        created: function () {
            let vm = this;

            let xhr = new XMLHttpRequest();
            xhr.onload = () => {
                console.log("Ya cargué we v':\n" + xhr.responseText);
                vm.usuarios = JSON.parse(xhr.responseText);
            };

            xhr.open("POST",`${conexion}/usuarios`);
            xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xhr.send();
        }
    }
</script>

<style scoped lang="sass">
.usuarios
    margin: 20px 0

.usuarios--titulos
    text-align: center
    font:
        size: x-large
</style>