<template>
    <div class="usuario hoverable">
        Nombre: {{ nombre }}<br>
        rol: {{ rol }}<br>
        ID de Google: {{ googleId }}<br>
        ID de usuario: {{ (99999999999 - userId).toString(16).toUpperCase() }} ({{ userId }})
    </div>
</template>

<script>
    export default {
        name: "Usuario",
        props: {
            nombre: String,
            rol: String,
            googleId: String,
            userId: Number
        }
    }
</script>

<style scoped lang="sass">
.usuario
    margin: 10px
    padding: 10px
    border-radius: 3px
</style>