<template>
    <div>
        <header-mini />
        <nav-bar-inicio-sesion />
        <nav-bar />

        <section id="sectionCarrito" class="container mySeccion fondoBlanco">
            <div class="center">
                <div id="carrito--tituloprincipal">
                    Carrito de compras
                </div>
                <br/>
                <router-link id="carrito--boton--seguircomprando" to="/platos/" class="hoverable">Seguir comprando</router-link>
                <br/>
                <br/>
                <div id="carrito" class="row carrito">

                    <div id="carrito--elementos" class="col l8">
                        <div id="carrito--elementos--contenido" class="caja">
                            <template v-if="noEstaVacio">
                                <template v-for="(producto,key) in carrito">
                                    <div v-bind:key="key" class="carritoElem">
                                        <img class="carritoElem--img" v-bind:src="producto.imgUrl">
                                        <div class="plato--Titulo">{{ producto.nombre }}</div>
                                        <br>
                                        <div class="plato--Precio">{{ producto.precio }}</div>
                                        <div class="plato--Cantidad">Cantidad:
                                            <i class="material-icons plato--Cantidad--Icon" v-on:click="restarCantidad(producto)">remove</i>
                                            <span>{{ producto.cantidad }}</span>
                                            <i class="material-icons plato--Cantidad--Icon" v-on:click="aumentarCantidad(producto)">add</i>
                                        </div>
                                        <br>
                                        <div class="carrito--subTotal">{{ producto.precio * producto.cantidad }}</div>
                                        <hr>
                                    </div>
                                </template>
                            </template>
                            <template v-else>
                                No hay nada en tu carrito de compras :c
                            </template>
                        </div>
                    </div>

                    <div id="carrito--precio" class="col l4">

                        <div id="carrito--precio--contenido" class="caja">
                            <template v-if="noEstaVacio">
                                <div id="pagos">
                                    <div style="display: inline-block;">
                                        {{ cantidadItems }} Producto{{ (cantidadItems>1 || cantidadItems === 0) ? 's': '' }}
                                    </div>
                                    <div style="display: inline-block; float: right; clear: both">
                                        {{ subTotal }} S/.
                                    </div>
                                </div>
                                <div>
                                    <div style="display: inline-block;">
                                        Descuentos:
                                    </div>
                                    <div style="display: inline-block; float: right; clear: both">
                                        {{ descuento }} S/.
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div>
                                    <div class="carrito--precio--contenido--titulo" style="display: inline-block;">
                                        Total:
                                    </div>
                                    <div class="carrito--precio--contenido--titulo"
                                         style="display: inline-block; float: right; clear: both">
                                        {{ total }} S/.
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div style="text-align: center">
                                    <a class="carrito--precio--contenido--botonPagar" v-if="usuarioLogeado">
                                        Completar Transaccion
                                    </a>
                                    <router-link to="/iniciar-sesion/" v-else class="carrito__precio__usuarioNoLogeado hoverable">
                                        Inicia Sesion o Regístrate para continuar.
                                    </router-link>
                                </div>
                            </template>
                            <template v-else>
                                No hay nada en tu carrito de compras :c
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </section>

        <mi-footer></mi-footer>
    </div>
</template>

<script>
    import HeaderMini from '@/components/headerMini'
    import NavBar from '@/components/navBar'
    import MiFooter from '@/components/mi-footer'
    import NavBarInicioSesion from '../components/navBarInicioSesion.vue';

    export default {
        name: 'Carrito',
        components: {
            'header-mini': HeaderMini,
            'nav-bar': NavBar,
            'mi-footer': MiFooter,
            'nav-bar-inicio-sesion': NavBarInicioSesion
        },
        data: function () {
            return {
                carrito: window.carritoUsuario,
                descuento: 0
            }
        },
        computed: {
            cantidadItems: function () {
                let items = 0;
                for (const i in this.item)
                    items++;
                return items;
            },
            subTotal: function () {
                let subT = 0;
                for (const itemI in this.carrito ) {
                    if (this.carrito.hasOwnProperty(itemI)){
                        const item = this.carrito[itemI];
                        subT += (item["precio"] * item["cantidad"]);
                    }
                }
                return subT;
            },
            total: function () {
                return this.subTotal - this.descuento;
            },
            noEstaVacio: function () {
                for (const i in this.carrito) {
                    return true;
                }
                return false;
            },
            usuarioLogeado: function () {
                return window.usuarioActual[0]["logged"];
            }
        },
        methods: {
            restarCantidad: function (elem) {
                const cantidad = parseInt(elem.cantidad);
                if (cantidad > 0)
                    elem.cantidad = cantidad -1;
            },
            aumentarCantidad: function (elem) {
                const cantidad = parseInt(elem.cantidad);
                if (cantidad >= 0)
                    elem.cantidad = cantidad+1;
            }
        }
    }
</script>

<style scoped lang="sass">
    .carrito__precio__usuarioNoLogeado
        display: inline-block
        background-color: green
        color: white
        border-radius: 3px
        padding: 10px

</style>