<template>
    <div>
        <header-min></header-min>

        <nav-bar></nav-bar>

        <section id="sectionP" class="container mySeccion" data-collapsed="false">
            <div class="row contenido">
                <div class="col l5">
                    <img class="image" src="http://www.saintjacquesfrenchcuisine.com/images/MenuSlide5.jpg"
                         alt="Plato Francés"/>
                </div>
                <div class="col l7">
                    <div class="descripcionComida">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col l7 center">
                    <div class="descripcionComida">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Congue quisque egestas diam in arcu cursus euismod quis. Mi tempus imperdiet nulla
                        malesuada pellentesque elit eget gravida. Tempus imperdiet nulla malesuada pellentesque elit eget
                        gravida
                        cum. Commodo elit at imperdiet dui accumsan sit amet. In nulla posuere sollicitudin aliquam ultrices
                        sagittis.
                    </div>
                </div>
                <div class="col l5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Jacques_Lameloise%2C_escab%C3%A8che_d%27%C3%A9crevisses_sur_gaspacho_d%27asperge_et_cresson.jpg"
                         alt="Plato Francés" class="image">
                </div>
            </div>
            <br/>
            Implementado con lo último en tecnología <br>
            <br>
            <br>
            <div style="text-align: center">
                <a href="https://vuejs.org/" title="Vuejs" target="_blank">
                    <img src="https://vuejs.org/images/logo.png" alt="vuejs" class="img-inicio hoverable">
                </a>
                <a href="http://getbem.com/" title="BEM" target="_blank">
                    <img src="http://getbem.com/assets/b_.svg" alt="bem" class="img-inicio hoverable" style="background-color: black">
                </a>
                <a href="https://sass-lang.com/" title="Sass" target="_blank">
                    <img src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg" class="img-inicio hoverable" alt="sass">
                </a>
                <a href="https://www.typescriptlang.org/" title="TypeScript" target="_blank">
                    <img src="https://cdn-images-1.medium.com/max/1187/1*JsyV8lXMuTbRVLQ2FPYWAg.png" class="img-inicio hoverable" alt="typescript">
                </a>
                <a href="https://nodejs.org/es/" title="nodejs" target="_blank">
                    <img src="https://pluralsight.imgix.net/paths/path-icons/nodejs-601628d09d.png" alt="nodejs" class="img-inicio hoverable">
                </a>
            </div>
            
        </section>
        <mi-footer></mi-footer>
    </div>
</template>

<script>
import HeaderMin from '@/components/headerMin'
import NavBar from '@/components/navBar'
import MiFooter from '@/components/mi-footer'

export default {
  name: 'home',
  components: {
      'header-min': HeaderMin,
      'nav-bar': NavBar,
      'mi-footer': MiFooter
  }
}
</script>

<style>
</style>
