<template>
    <div>
        <header>
            <div>
                <div id="tituloP" class="center">
                    <router-link to="/"><h1 class="titulo--link">L'Assiette</h1></router-link>
                    <div id="tituloP--descripcion">
                        Descubre un nuevo sabor
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="login--google">
                    Ingresa con Google: <br>
                    <br>
                    <div id="my-signin2"></div>
                </div>
                <br>
                <br>
                <div class="row login">
                    <div class="col l6 m6 s12 login--descripcion center-align">
                        Inicia sesión con tu email: <br>
                        <br>
                        <div class="center">
                            <form name="form-inicio-sesion" class="login--form"
                                  v-on:submit.prevent="iniciarSesion('form-inicio-sesion')">
                                <label class="login--form--label">Email:</label>
                                <input class="login--form--input" type="email" placeholder="Tu email" name="email"
                                       required><br>
                                <br>
                                <label class="login--form--label">Contraseña</label>
                                <input class="login--form--input" type="password" placeholder="Contraseña" required><br>
                                <br>
                                <button class="btn waves-effect waves-light" type="submit" name="action">Inicia Sesión
                                </button>
                            </form>
                        </div>
                        <br>
                    </div>
                    <div class="col l6 m6 s12 login--registro center-align" id="bordeIzq">
                        Regístrate con tu email: <br>
                        <br>
                        <div class="center">
                            <form name="form-registro" class="login--form"
                                  v-on:submit.prevent="registrar('form-registro')">
                                <label class="login--form--label">Nombre</label>
                                <input class="login--form--input" type="text" placeholder="Tu nombre" name="nombre"
                                       required><br>
                                <br>
                                <label class="login--form--label">Email:</label>
                                <input class="login--form--input" type="email" placeholder="Tu email" name="email"
                                       required><br>
                                <br>
                                <label class="login--form--label">Contraseña</label>
                                <input class="login--form--input" type="password" placeholder="Contraseña" name="pass"
                                       required><br>
                                <br>
                                <button class="btn waves-effect waves-light" type="submit" name="action">Regístrame
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div id="pantalla-carga" pantalla-activa="false">
                Iniciando Sesión...<br>
                <br>
                <div class="preloader-wrapper active center" id="esfera-carga">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </header>
    </div>
</template>

<script>
    import MiFooter from '@/components/mi-footer.vue'

    /* Cambiado porque a Babel no le gusto es sistema con module.exports/require */
    // const conex_backend = require('../variables.js').conexion;
    import conex_backend from '../variables';

    const procesarUsuario = data => {
        try {
            const obj = JSON.parse(data);
            obj["logged"] = true;
            console.log(JSON.stringify(obj));
            window.usuarioActual.pop();
            window.usuarioActual.push(obj);
            window.elRouter.push('/platos/');
        } catch (e) {
            cambiarPantallaCarga();
        }

    };

    function onSuccess(googleUser) {
        cambiarPantallaCarga();
        let id_token = googleUser.getAuthResponse().id_token;

        let xhr = new XMLHttpRequest();
        console.log(`Conexion backend es ${conex_backend}`);
        xhr.open('POST', `${conex_backend}/log-inG`);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log('Sesión iniciada. Servidor:\n' + xhr.responseText);
            procesarUsuario(xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
    }

    function onFailure(error) {
        console.log(error);
    }

    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }

    const crearUsuario = data =>
        new Promise((resolve, reject) => {
            let xhr = new XMLHttpRequest();

            xhr.open("POST", `${conex_backend}/registro`);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.onload = () => {
                const resultado = JSON.parse(xhr.responseText);

                if (!resultado["existe"] && resultado["creado"]) {
                    resolve(JSON.stringify(resultado["data"]));
                } else {
                    reject();
                }
            };
            xhr.send(`nombre=${data['nombreUsuario']}&email=${data['emailUsuario']}&pass=${data['passUsuario']}`);
        });

    const cambiarPantallaCarga = () => {
        const elem = document.getElementById("pantalla-carga");
        const pantallaActiva = elem.getAttribute("pantalla-activa") === "true";

        // La pantalla de carga es visible y hay que ocultarla
        if (pantallaActiva) {
            elem.setAttribute("pantalla-activa", "false");
            elem.style.opacity = "0";
            setTimeout(() => {
                elem.style.display = "none";
            }, 250);
        } else {
            // Aqui activamos la pantalla
            elem.setAttribute("pantalla-activa", "true");
            elem.style.display = "inline-table";
            setTimeout(() => {
                elem.style.opacity = "0.7";
            }, 10);
        }
    };

    /* Inserta el script para el inicio de sesion de gugel */
    (() => {
        let scr = document.createElement("script");
        scr.src = "https://apis.google.com/js/platform.js";
        scr.onload = renderButton;
        scr.defer = true;
        document.head.appendChild(scr);
    })();

    export default {
        name: 'IniciarSesion',
        components: {
            'mi-footer': MiFooter
        },
        methods: {
            registrar: function (nombre) {
                cambiarPantallaCarga();

                const nombreUsuario = document.forms[nombre]['nombre'].value;
                const emailUsuario = document.forms[nombre]['email'].value;
                const passUsuario = document.forms[nombre]['pass'].value;

                crearUsuario({nombreUsuario, emailUsuario, passUsuario})
                    .then(respuesta => procesarUsuario(respuesta))
                    .catch(() => {
                        alert("Ya existe un usuario con este email");
                    });

            },
            iniciarSesion: function (nombre) {
                const emailUsuario = document.forms[nombre]['email'].value;
                const nombreUsuario = emailUsuario.substring(0, emailUsuario.search("@"));

                window.usuarioActual[0].nombre = nombreUsuario;
                window.usuarioActual[0].email = emailUsuario;
                window.usuarioActual[0].logged = true;

                window.elRouter.push("/");
            }
        }
    }
</script>

<style scoped lang="sass">

    #my-signin2
        display: inline-block

    #bordeIzq
        border-left: solid 1px white

    .login
        color: white

    .login--google
        text-align: center
        color: white

    .login--boton
        border: none
        padding: 10px 50px
        cursor: pointer
        border-radius: 3px

    .login--botonGoogle
        background-color: white

    .login--botonFacebook
        background-color: #3b5998
        color: white

    .login--form
        width: 80%
        display: inline-block

    .login--form--input
        color: white
        font-size: large !important
        text-shadow: 1px 1px 2px black

    .login--form--label
        color: white

    #pantalla-carga
        background-color: black
        opacity: 0
        z-index: 2
        position: fixed
        top: 0
        width: 100%
        height: 100%
        transition: opacity 250ms
        display: none
        text-align: center
        padding-top: 20%
        color: white

    #esfera-carga
        text-align: center
        width: 100px
        height: 100px

    @media only screen and (max-width: 800px)
        #pantalla-carga
            padding-top: 40%

    @media only screen and (max-width: 450px)
        #pantalla-carga
            padding-top: 70%

    .lol
</style>