<template>
    <div>
        <header-mini />
        <nav-bar-inicio-sesion />
        <nav-bar />
        <section>
            <div class="container fondoBlanco">
                <h2 class="tienda--titulo">Mi cuenta</h2>
                <br>
                <div v-if="usuarioNoLogeado" class="mi-cuenta--usuario-no-logeado">
                    ¡Ups! Parece que no iniciaste sesión.<br>
                    Obtén acceso a más de 7 platos
                    gourmet en la comodida de tu hogar:
                    <br>
                    <br>
                    <div id="contenedorInicio-Registro" class="center mySeccion" data-collapsed="false">
                        <router-link to="/iniciar-sesion/" id="botonRegistro" class="boton">
                            Registrarse
                        </router-link>
                        <router-link to="/iniciar-sesion/" id="botonInicioSesion" class="boton">
                            Iniciar Sesion
                        </router-link>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div v-else class="row">
                    <div class="col l6 m6">
                        <div class="datos-usuario">
                            <img :src="usuario.img" alt="Imagen del Usuario" class="left datos-usuario--imagen">
                            <div class="datos-usuario--descr">
                                {{ usuario.nombre }}, desde aquí puedes acceder a todos tus datos, y modificarlos
                                si deseas.
                            </div>
                            <div style="clear: left;"></div>
                        </div>
                        <br>
                        <div class="datos-editar">
                            <form action="">
                                <label for="nombre-usuario">Tu nombre</label>
                                <input id="nombre-usuario" placeholder="Tu nombre" :value="usuario.nombre"/><br>
                                <label for="email-usuario">Tu email</label>
                                <input id="email-usuario" placeholder="Tu email" :value="usuario.email"/><br>
                                <label for="id-usuario">Tu ID de usuario</label>
                                <input id="id-usuario" disabled :value="(99999999999 - parseInt(usuario['USER_ID'])).toString(16).toUpperCase()">
                            </form>
                        </div>
                    </div>
                    <div class="col l6 m6">
                        Tu historial de Compras <br>
                        <br>
                        <div v-if="historialVacio">
                            Tu historial de compras está vacio. ¡Compra algo y lo verás aquí!
                        </div>
                        <div v-else>
                            <template v-for="(plato, key) in usuario.historial">

                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <mi-footer></mi-footer>
    </div>
</template>

<script>
    import HeaderMini from '@/components/headerMini'
    import NavBar from '@/components/navBar'
    import MiFooter from '@/components/mi-footer'
    import NavBarInicioSesion from '../components/navBarInicioSesion.vue';

    export default {
        name: "MiCuenta",
        components: {
            NavBarInicioSesion,
            'header-mini': HeaderMini,
            'nav-bar': NavBar,
            'mi-footer': MiFooter,
            'nav-bar-inicio-sesion': NavBarInicioSesion
        },
        data: function () {
            return {
                usuario: window.usuarioActual[0]
            }
        },
        computed: {
            historialVacio: function () {
                for (let i in this.usuario.historial) {
                    return false
                }
                return true
            },
            usuarioNoLogeado: function () {
                return !this.usuario.logged;
            }
        }
    }
</script>

<style scoped lang="sass">
.datos-usuario--imagen
    margin: 10px

.datos-usuario--descr
    padding: 5px

.datos-editar



</style>