<template>
    <div>
        <header-mini />

        <nav-bar-inicio-sesion />
        <nav-bar />

        <section class="tienda container mySeccion fondoBlanco" data-collapsed="false">
            <h2 class="tienda--titulo">Platos</h2>
            <br>
            <template v-for="(item,key) in platos">
                <div v-bind:key="key" class="row tienda--tarjeta hoverable">
                    <div class="col l4">
                        <img class="responsive-image" :src="item.imgUrl"/>
                    </div>
                    <div class="col l8">
                        <div class="tienda--tarjeta--titulo">
                            {{ item.nombre }}
                        </div>
                        <br>
                        <div class="tienda--tarjeta--descripcion">
                            {{ item.descripcion }}
                        </div>
                        <br>
                        <div class="tienda--tarjeta--precio">
                            {{ item.precio }}
                        </div>
                        <br>
                        <div class="tienda--tarjeta--cantidad">
                            <i class='material-icons plato--Cantidad--Icon' v-on:click="disminuirCantidad('itemNum' + key)">
                                remove
                            </i>
                            <span :id=" 'itemNum' + key ">1</span>
                            <i class='material-icons plato--Cantidad--Icon' v-on:click="aumentarCantidad('itemNum' + key)">
                                add
                            </i>
                        </div>
                        <br/>
                        <button class="tienda--tarjeta--botonComprar" v-on:click="addAlCarro(item, 'itemNum' + key)">
                            <i class='material-icons'>add_shopping_cart</i> Añadir al carrito
                        </button>
                    </div>
                </div>
            </template>
            
        </section>

        <mi-footer />
    </div>
</template>

<script>
    import MiFooter from "../components/mi-footer.vue";
    import HeaderMini from '../components/headerMini.vue';
    import NavBar from '../components/navBar.vue';
    import NavBarInicioSesion from '../components/navBarInicioSesion.vue';

    export default {
        name: 'Platos',
        components: {
            'mi-footer': MiFooter,
            'header-mini': HeaderMini,
            'nav-bar': NavBar,
            'nav-bar-inicio-sesion': NavBarInicioSesion
        },
        data: function () {
            return {
                platos: [
                    {
                        "nombre": "Soupe à l'oignon",
                        "descripcion": "Sopa tradicional hecha con cebolla y carne.",
                        "imgUrl": "https://www.expatica.com/media/upload/714571.jpg",
                        "precio": 20
                    },
                    {
                        "nombre": "Coq au vin",
                        "descripcion": "Pollo cocinado con vino, hongos, carne de cerdo y ajo",
                        "imgUrl": "https://www.expatica.com/media/upload/714572.jpg",
                        "precio": 50
                    },
                    {
                        "nombre": "Beef bourguignon",
                        "descripcion": "Filete cocinado en vino, sasonado con especias",
                        "imgUrl": "https://www.expatica.com/media/upload/714573.jpg",
                        "precio": 30
                    },
                    {
                        "nombre": "Cassoulet",
                        "descripcion": "Guiso parecido a las habichuelas típicas españolas que se hace con alubias blancas o frijoles acompañadas de carne de diferentes animales",
                        "imgUrl": "https://www.viajejet.com/wp-content/viajes/Cassoulet-570x320.jpg",
                        "precio": 22
                    },
                    {
                        "nombre": "Fondue de queso",
                        "descripcion": "Crema que se puede tomar bien como acompañante de otros ingredientes o bien mojando trozos de pan en él.",
                        "imgUrl": "https://www.viajejet.com/wp-content/viajes/Fondue-570x321.jpg",
                        "precio": 5
                    },
                    {
                        "nombre": "Ratatouille",
                        "descripcion": "Elaborado con diversas hortalizas, es un plato natural de Niza y la región de Provenza, al sureste de Francia.",
                        "imgUrl": "https://www.viajejet.com/wp-content/viajes/Ratatouille-570x320.jpg",
                        "precio": 35
                    },
                    {
                        "nombre": "Magret de canard",
                        "descripcion": "Un filete de carne magra, que suele provenir de un ganso o pato cebado",
                        "imgUrl": "https://www.viajejet.com/wp-content/viajes/Magret-de-Canard-570x320.jpg",
                        "precio": 17
                    },
                    {
                        "nombre": "Merluza al beurre blanc",
                        "descripcion": "Este plato consiste en troncos o lomos de merluza que se sirven en salsa beurre blanc.",
                        "imgUrl": "https://www.viajejet.com/wp-content/viajes/Merluza-a-la-beurre-blanc-570x320.jpg",
                        "precio": 22
                    }
                ]
            };
        },
        methods: {
            addAlCarro: function (plato, id) {
                const cantidad = parseInt(document.getElementById(id).innerText);
                const obj = JSON.parse(JSON.stringify(plato));
                obj["cantidad"] = cantidad;
                carritoUsuario.push(obj);
                M.toast({html: `Añadido al carrito.&nbsp;&nbsp;<span onclick="window.irAlCarro()" class="irAlCarrito">Ir al carrito</span>`})
            },
            aumentarCantidad: function (id) {
                const elem = document.getElementById(id);
                const valorActual = parseInt(elem.innerText);
                if (valorActual > 0) {
                    elem.innerText = valorActual + 1;
                } else {
                    elem.innerText = 1;
                }
            },
            disminuirCantidad: function (id) {
                const elem = document.getElementById(id);
                const valorActual = parseInt(elem.innerText);
                if (valorActual > 1) {
                    elem.innerText = valorActual - 1;
                } else {
                    elem.innerText = 1;
                }
            }
        }
    }
</script>

<style scoped lang="sass">
</style>