<template>
    <a v-on:click.prevent="cerrarSesion" title="Cerrar Sesion">Cerrar Sesion</a>
</template>

<script>
    export default {
        name: "botonCerrarSesion",
        methods: {
            cerrarSesion: function () {
                const scriptGAPI = document.getElementById("googleGAPI");

                try {
                    gapi.auth2.getAuthInstance().signOut()
                        .then(() =>
                            console.log('User signed out.')
                        );
                } catch (e) {
                    let scr = document.createElement("script");
                    scr.src = "https://apis.google.com/js/platform.js";
                    scr.onload = renderButton;
                    scr.defer = true;
                    document.head.appendChild(scr);

                    this.cerrarSesion();
                }
            }
        }
    }
</script>

<style scoped>

</style>