<template>
    <header id="header">
        <div>
            <div id="tituloP" class="center tituloP--mini">
                <router-link to="/" class="titulo--link">L'Assiette</router-link>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: 'HeaderMini'
    }
</script>

<style>
</style>