<template>
    <header>
        <div>
            <div id="tituloP" class="center">
                <router-link to="/"><h1 class="titulo--link">L'Assiette</h1></router-link>
                <div id="tituloP--descripcion">
                    Descubre un nuevo sabor
                </div>
            </div>
        </div>
        <div v-if="musuarioNoLogeado" id="contenedorInicio-Registro" class="center mySeccion" data-collapsed="false">
            <router-link to="/iniciar-sesion/" id="botonRegistro" class="boton">
                Registrarse
            </router-link>
            <router-link to="/iniciar-sesion/" id="botonInicioSesion" class="boton">
                Iniciar Sesion
            </router-link>
            <br/>
            <br/>
            <br/>
        </div>
        <div v-else class="inicio--usuario-registrado">
            Bienvenido, {{ nombreDeUsuario }}<br/>
            <router-link v-if="esAdmin" to="/a/" class="inicio--usuario-registrado--link">Ir a la zona administrativa.</router-link>
            <br>
            <br>
        </div>
    </header>
</template>

<script>
    export default {
        name: 'HeaderMin',
        data: function () {
            return {
                usuario: window.usuarioActual
            }
        },
        computed: {
            musuarioNoLogeado: function () {
                return !this.usuario[0].logged;
            },
            nombreDeUsuario: function () {
                return this.usuario[0].nombre;
            },
            esAdmin: function () {
                return this.usuario[0].ROL === "admin"
            }
        }
    }
</script>

<style scoped lang="sass">
.inicio--usuario-registrado--link
    color: white
    text-decoration: underline
</style>