<template>
    <div>
        <header-min></header-min>

        <nav-bar></nav-bar>

        <section id="sectionP" class="contenedor mySeccion" data-collapsed="false">
            <div class="row contenido">
                <div class="col-5">
                    <img class="image" src="http://www.saintjacquesfrenchcuisine.com/images/MenuSlide5.jpg"
                         alt="Plato Francés"/>
                </div>
                <div class="col-7">
                    <div class="descripcionComida">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-7 center">
                    <div class="descripcionComida">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Congue quisque egestas diam in arcu cursus euismod quis. Mi tempus imperdiet nulla
                        malesuada pellentesque elit eget gravida. Tempus imperdiet nulla malesuada pellentesque elit eget
                        gravida
                        cum. Commodo elit at imperdiet dui accumsan sit amet. In nulla posuere sollicitudin aliquam ultrices
                        sagittis.
                    </div>
                </div>
                <div class="col-5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Jacques_Lameloise%2C_escab%C3%A8che_d%27%C3%A9crevisses_sur_gaspacho_d%27asperge_et_cresson.jpg"
                         alt="Plato Francés" class="image">
                </div>
            </div>
            <br/>
        </section>
        <mi-footer></mi-footer>
    </div>
</template>

<script>
import HeaderMin from './headerMin'
import NavBar from './navBar'
import MiFooter from './mi-footer'

export default {
    name: 'Inicio',
    components: {
        'header-min': HeaderMin,
        'nav-bar': NavBar,
        'mi-footer': MiFooter
    }
}
</script>

<style>
</style>
