<template>
    <footer id="footer">
        <div class="container row mi-footer transparent">
            <div class="col l6 m6">
                Cocina Francesa.<br/>
                Una Single Page Application para el curso de IHC, UNSA, 2018.<br/>
                Con lo último en tecnología: Vue.js, BEM, Sass, TypeScript, y nodejs.<br>
                <br/>
                Desarrollado por Fernando Araoz, 20173373.
            </div>
            <div class="col l6 m6">
                <div class="hide-on-med-and-up"><hr></div>
                Contacto: <br>
                <br>
                <i class="material-icons white-text">local_phone</i>&nbsp;&nbsp;&nbsp;999 - 888 - 777 <br>
                <i class="material-icons white-text">email</i>&nbsp;&nbsp;&nbsp;soporte@l-assiete.com
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'MiFooter'
    }
</script>

<style>
</style>