<template>
    <nav id="navBar" class="mySeccion">
        <ul class="linksNavBar">
            <li><router-link to="/">Inicio</router-link></li>
            <li><router-link to="/platos/">Platos</router-link></li>
            <li>|</li>
            <li><router-link to="/mi-cuenta/">Mi cuenta</router-link></li>
            <li><router-link to="/carrito/">Mi carrito</router-link></li>
            <li><router-link to="/mi-pedido/">Mis pedidos</router-link></li>
            <li class="right" v-if="usuarioLogeado"><boton-cerrar-sesion /></li>
        </ul>
    </nav>
</template>

<script>
    import BotonCerrarSesion from './botonCerrarSesion'

    export default {
        name: 'HeaderMini',
        components: {
            'boton-cerrar-sesion': BotonCerrarSesion
        },
        computed: {
            usuarioLogeado: function () {
                return window.usuarioActual[0]["logged"];
            }
        }
    }
</script>

<style>
</style>