<template>
    <nav v-if="usuarioNoLogeado" class="mi-nav-bar">
        <ul class="linksNavBar">
            <li><router-link to="/iniciar-sesion/">Inicia Sesion</router-link></li>
            <li><router-link to="/iniciar-sesion/">Regístrate</router-link></li>
        </ul>
    </nav>
</template>

<script>
    export default {
        name: "navBarInicioSesion",
        computed: {
            usuarioNoLogeado: function () {
                return !window.usuarioActual[0].logged;
            }
        }
    }
</script>

<style scoped lang="sass">
.mi-nav-bar ul li
    background-color: #3d3d7b
    height: auto

</style>