<template>
    <div class="pedido">
        Este es un pedido we v:
    </div>
</template>

<script>
    export default {
        name: "pedido"
    }
</script>

<style scoped lang="sass">
.pedido
    padding: 20px
</style>