<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
    import conexion from './variables'

    export default {
        name: 'App',
        // Revisa si existe una variable de sesion con el usuario
        created: function () {
            const xhr = new XMLHttpRequest();
            xhr.open("POST",`${conexion}/sesion`);
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
            xhr.onload = () => {
                const data = JSON.parse(xhr.responseText);
                if (data["logged"]) {
                    window.usuarioActual.pop();
                    window.usuarioActual.push(data);
                }
            };
            xhr.send();
        }
    }
</script>

<style>
</style>
