<template>
    <div style="background-color: #f5f5f5">
        <header-mini />
        <div class="container caja inicio">
            <div class="inicio--titulo">
                Administración de recursos
            </div>
            <div class="inicio--desc">
                Selecciona un campo para empezar: <br>
                <router-link to="/a/usuarios" class="inicio--desc--boton hoverable">Usuarios</router-link>
                <router-link to="/a/empleados" class="inicio--desc--boton hoverable">Empleados</router-link>
            </div>
            <hr>
            <router-view />
        </div>
    </div>
</template>

<script>
    import Header from '../../components/headerMini'
    import Usuarios from '../../components/Admin/Usuarios'
    import Empleados from '../../components/Admin/Empleados'

    export default {
        name: "Inicio",
        data: function () {
            return {
                componenteAct: 'header-mini'
            }
        },
        components: {
            'header-mini': Header,
            'usuarios-comp': Usuarios,
            'empleados-comp': Empleados
        }
    }
</script>

<style scoped lang="sass">
.inicio
    background-color: white

.inicio--titulo
    text-align: center
    font:
        family: Muli, "Open Sans", sans-serif
        weight: bold
        size: x-large

.inicio--desc
    text-align: center
    font:
        family: Muli, "Open Sans", sans-serif
        size: large

.inicio--desc--boton
    display: inline-block
    margin: 10px 20px
    background-color: #4444aa
    color: white
    padding: 10px
    border-radius: 3px

</style>